body,html{
    margin:0;
    padding:0;
}
body {
    background-color: #FFFFFF;
    height:auto;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.angular-google-map-container {
    height: 600px;
}
.angular-google-map-container{
    border: 10px solid #fff;
    box-shadow: 0 0 5px #ccc;
}
/* @media (min-height: 320px) {
    .ui.footer.segment {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
*/