<h1 class="ui header">Regions</h1>

<div class="ui divided items">
    <div ng-repeat="region in regions" class="item">
        <div class="image">
            <img ng-src="images/{{region.images[0].url}}">
        </div>
        <div class="content relative">
            <a class="header">{{region.region_name}}</a>
            <div class="meta">
                <span class="">{{region.images[0].description}}</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra"></div>
            <div class="item-bottom">
                <div class="ui right floated button">
                    <a href="#/map">View on map</a>
                </div>
            </div>
        </div>
    </div>
</div>